.liquid-container{
	position: relative;
	display: block;
}

.liquid-pageholder{
	position: absolute;
	top: 0;
	left: 0;
	width:100%;
	will-change: transform, opacity;
	z-index: 1;
}

.liquid-pageholder:first-child{
	z-index: 2;
}