.box{
	display: inline-block;
	background-color: #000;
	width:200px;
	height: 200px;
}

.enter {
	animation-name: enter;
  animation-duration: 300ms;
}

.leave {
	animation-name: leave;
  animation-duration: 300ms;
}


@keyframes enter {
    from {
			opacity: 0;
		}
    to {
			opacity: 1;
		}
}

@keyframes leave {
    from {
			opacity: 1;
		}
    to {
			opacity: 0;
		}
}

@keyframes enter-swipe {
    from {
			transform: translateX(100%);
			opacity: 0;
		}
    to {
			transform: translateX(0%);
			opacity: 1;
		}
}

@keyframes leave-swipe {
    from {
			transform: translateX(0%);
			opacity: 1;
		}
    to {
			transform: translateX(-100%);
			opacity: 0;
		}
}