body{
	margin: 0;
	padding: 0;
	background: #000;
}

*{
	box-sizing: border-box;
}

h1{
	margin: 0;
}

.page{
	display: flex;
	color:#fff;
	min-height: 100vh;
	padding: 16px;
	flex-direction: column;
}

.mdc-tab-bar{
	position: fixed;
	z-index: 10;
	background: #fff;
	width: 100%;
	bottom: 0;
	left: 0;
}

a {
	text-decoration: none;
	color: #fff;
}

.liquid-container{
	transform-style: preserve-3d;
}