body{
	margin: 0;
	padding: 0;
	background: #000;
}

h1{
	margin: 0;
}

.page{
	display: flex;
	align-items: center;
	justify-content: center;
	color:#fff;
	height: 100vh;
  height: calc(100vh - 56px);
	background: tomato;
}

a {
	text-decoration: none;
	color: #fff;
}